
*.iml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

MedsMinder/.idea/dictionaries/littlealien.xml

MedsMinder/.idea/misc.xml


MedsMinder/.idea/inspectionProfiles/profiles_settings.xml

MedsMinder/.idea/inspectionProfiles/Project_Default.xml

MedsMinder/.idea/misc.xml

